$header-font: Abril Fatface, sans-serif;
$primary-color: rgb(41, 39, 180);
$dark-color: #333;
$light-color: #fff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
  font: $header-font;
  color: $dark-color;
  font-size: 3em;
}
